$primaryColor: #1e5b87;
$secondaryColor: #f4f5f8;
$greyColor: #d7d7d7;
$lightGrey: #d0d5dd;
$darkGrey: #8695a0;
$textColor: #717579;
$orangeColor: #fdc353;
$redColor: #dc3545;
$blueColor: #306fea;
$white: #fff;
$greenColor: #4caf50;
$lightGreenColor: #8bc34a;
$darkBtnColor: #0a2e48;
