@import "../../shared/styles/colors.scss";

.main-layout-modal {
  height: 400px;

  &__container {
    position: absolute;
  }

  .main-layout-modal__btn {
    width: 231px;
  }
}

.ant-layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: $white;
}
